@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.btn{
  border: 3px solid #ff5e00;
  padding: 5px;
  transition: all .3s;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all .3s;
}

.btn:hover {
  border: 3px solid #fff;
}

a:hover {
  color: #ff5e00;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-image: linear-gradient(120deg, #89f7fe 0%, #0d53b6 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  z-index: 999;
}

.wrapperScreen{
  height: 100vh;
  width: 100vw;
}

.screenFirst{
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-image: none;
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #ff5e00;
  color: #ff5e00;
}

.hide {
  opacity: 0;
}

.primary {
  color: #ff5e00;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  box-shadow: -8px -8px 20px #66a6ff, 10px 7px 20px #89f7fe;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}